# Canlı ortamda bu dosyanın adını '.env' yaparak kullanın.

DB_PROVIDER=PostgreSQL
DB_NAME=taskdb
DB_USER=postgres
DB_PASSWORD=BurayaCokGucluBirSifreGir
POSTGRES_CONNECTION_STRING="Host=db;Port=5432;Database=taskdb;Username=postgres;Password=Sifre;"
ORACLE_CONNECTION_STRING="User Id=system;Password=Sifre;Data Source=source;"
JWT_SECRET=JwtSecretKey
JWT_ISSUER=TaskManagement.API
JWT_AUDIENCE=TaskManagement.Client
FRONTEND_URL=http://localhost:4200
